#notificationCenter{
    /*display: none;*/
}


p, .cardTitle, .card-content, .card-action{
    text-align: left !important;
}

#notificationContent{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.new{
    background-color: #ffffff !important;
}

.sidenav{
    background-color: #e7e7e7 !important;
}

.seen{
    /*background-color: #e7e7e7 !important;*/
}

.deleted{
    /**display:none !important;**/
    background-color: red !important;
}

.noNotifies{
    padding-top:10px;
    padding-bottom:10px;


}

.noNotifies a{
    color:#2c3e50 !important;
    font-size:12px !important;
    font-weight: bold !important;
}


.animationTest{
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 0.8s ease-in-out;
    -moz-transition: max-height 0.8s ease-in-out;
    -o-transition: max-height 0.8s ease-in-out;
    transition: max-height 0.8s ease-in-out;
}
#notificationBadge {
    position: relative;
    right: 5px;
    top: -20px;
    color:white !important;
    /*color: #212121;*/
    border-radius: 100px;
    background-color: #F44336 !important;
    /*background-color: #f5f1f2;*/
    margin: 0 -0.8em;
    /* border-radius: 50%;*/
    padding: 2px 6px;
    font-weight: 600;
    font-size: 12px !important;
}



/* ############## Allgemein ##############*/
#slide-out {
    width: 350px !important;
    max-width: 100%;
    overflow-x: hidden;
    top: -70px !important;
    padding-bottom: 0px !important;
    height: calc(100vh + 100px) !important;
}

.main {
    /* width: 400px; */
    margin: 30px;
}

a, p{
    font-size:12px !important;
}

i.material-icons{
    margin-bottom: 2px !important;
}

.bottomEntry a, #stickyTab a i, .cardTitle a, .close.material-icons{
    -webkit-transition: all .28s ease-out;
    -moz-transition: all .28s ease-out;
    -o-transition: all .28s ease-out;
    -ms-transition: all .28s ease-out;
    transition: all .28s ease-out;
}


/*  ############## Benachrichtigung ############## */
.user-view h5{
    text-align:left !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    margin-top:0px !important;
}
.user-view{
    background-color:#ffffff !important;
    padding-top: 18px !important;
    margin-bottom: 0px !important;
    padding-bottom:18px !important;
}

.sidenav .user-view {
    padding-left:18px !important;
}

h5{
  /*  font-size: 18px !important;*/
    color: #212121 !important;
}


/* ############## Card / Benachrichtigungseintrag ############## */
.card-title {
    font-size: 18px !important;
}

.card .card-action {
    padding: 0px !important;
    padding-top:0px !important;
    padding-bottom:0px !important;
    font-size: 14px !important;
}

.card-action p, .card-action-notify a{
    padding-left:12px !important;
    padding-right:12px !important;
}

.card-action-notify{
    border-top: 1px solid rgba(160,160,160,0.2);
    padding-top: 9px !important;
    margin-top: 10px !important;
}

.card {
    margin: .5rem 0 0.5rem 0 !important;
}

.card-content {
    padding: 10px !important;
}

.close.material-icons.right.black-text {
    padding: 10px !important;
    font-size:20px !important;
}

.transitionItem {
    transition: all .3s linear;
}


.sidenav li > a > i{
    width:auto !important;
    font-size: 20px !important
}

/*  Hover über Action */
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color:#4db1d4 !important;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    color:#008fc1 !important;
}

.card.grey.white{
    margin-left:10px !important;
    margin-right:10px !important;
}

.close.material-icons{
    cursor: pointer;
    margin-left: 0px !important;
    /*color: #008fc1 !important;*/
    color: #2c3e50 !important;
}

i.small.material-icons.expandIcon, .close.material-icons {
    color: #008fc1 !important;
}

i.small.material-icons.expandIcon:hover, .close.material-icons:hover {
    color: #4db1d4 !important;
}

.cardIcon{
    display:inline-block !important;
    vertical-align: top !important;
    width:24px !important;
}

.cardIcon i{
    padding-top:2px !important;
    font-size:20px !important;
    padding-right:5px !important;
}

.cardTitle{
    display: inline-block !important;
    width:222px !important
}

.cardTitle a {
    font-weight: 600 !important;
}

.cardTitle a.primaryAction {
    /*color: #008fc1;*/
    color: #2c3e50 !important;

}

.cardTitle a.primaryAction:hover{
    /*color: #4db1d4;*/
    color: #2c3e50 !important;
}

.cardTitle a.withoutPrimaryAction {
    color: #000000;
    font-size:12px !important;
}


.cardTitle p{
    font-size: 12px !important;
    color:gray !important;
}

.card-action p{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.card-action a{
    font-weight: 800 !important;
    text-transform: unset !important;
}




/* ############## Sticky Footer (Hover, Hintergrund, ...) ############## */
#stickyTabBottom {
    position: sticky;
    /*top:100px !important;*/
    /*  top:500px !important;*/
    top: calc(100vh + 22px);
    /*bottom: 200px;*/
    /* height: 50px !important; */
    z-index: 200;
    width: 100% !important;
    background-color: #ffffff !important;
    box-shadow: 0px -1px 3px #999999 !important;
    /* height: 50px !important;*/
}

.bottomEntry{
    font-size: 12px !important;
    background-color: white !important;
    text-align: center !important;
    font-weight: 600 !important;
}

.bottomEntry a{
    color: #008fc1 !important;
}
.bottomEntry a:hover {
    color: #4db1d4 !important;
}

.bottomEntry i.material-icons{
    font-size: 20px !important;
}


/*  ############## Sticky Navigation (Tabs, ...) ############## */
#stickyTab{
    position: sticky;
    top: 7px !important;
    z-index: 9999;
    box-shadow: 0px 1px 3px #999999;
    margin-bottom: 0px !important;
}

.tabs .tab {
    text-transform: unset !important;
}

.tabs .tab a:hover, .tab:hover i.material-icons, .tabs .tab a.active:hover {
    color: #4db1d4 !important;
}
.tabs .tab a, .tab i.material-icons, .tabs .tab a.active{
    color:#008fc1 !important;
}



.tabs .tab a.active {
    background-color: #e5f4f9  !important;
}

.tabs .tab a:hover {
    background-color: #ffffff !important;

}

.tabs .tab a.active:hover {
    background-color: #e5f4f9 !important;

}










.tabs .tab.disabled a,  .tab.disabled i.material-icons, .tabs .tab.disabled:hover a , .tabs .tab.disabled a.active, .tab.disabled i.material-icons:hover, .tabs li.disabled:hover i, .tabs li.disabled i disabled {
    color: #b3deed !important;
}





.tabs .indicator{
    /* background-color: #ffffff !important;*/
 background-color: #008fc1;
}




/*  aktiver Tab-Hintergrund */
#stickyTab .col.s12 a.active {
    background-color: #e5f4f9  !important;
    /*background-color: #ffffff !important;*/
/* background-color: #c9eeff !important;*/
}

#stickyTab .material-icons{
 vertical-align: top;
}


/*  ############## Sticky Navigation + Sticky Footer ############## */
#stickyTab .col.s12 .col,  #stickyTabBottom .col.s12 .col{
    padding-left:0px !important;
    padding-right:0px !important;
}

#stickyTab .col.s12, #stickyTabBottom .col.s12 {
    padding-left:0px !important;
    padding-right:0px !important;
}

#stickyTab .col.s12 a, #stickyTabBottom .col.s12 a{
    padding-left:0px !important;
   padding-right:0px !important;
}

#stickyTab .col.s12 i, #stickyTabBottom .col.s12 i{
    float: unset !important;
    margin-left:auto !important;
    margin-right:auto !important;
}

#stickyTab .col.s12 a, #stickyTabBottom .col.s12 a{
    background-color: #ffffff !important;
    /*background-color: #757575 !important;*/
}

#stickyTab .material-icons, #stickyTabBottom .material-icons{
    display: inline-flex;
}

#stickyTab .material-icons, #stickyTabBottom .material-icons{
    vertical-align: middle;
}

#stickyTabBottom{
    padding-left:10px !important;
    padding-right:10px !important;
}

#readAll,#deleteAll{
    float:left !important;
}

#configNotification{
    float:right !important;
}


/*  ############## Abschnitt (Section) ############## */
.dividerSection{
    height:1px !important;
    width:100% !important;
    background-color: #e0e0e0 !important;
    margin-top:11px !important;
    margin-bottom:0px !important;
}

.divider{
    margin-bottom: 4px !important;
}

.subheader{
    padding-left: 10px !important;
    padding-right: 10px !important;
    height: 40px !important;
}

.col.s12 .row{
    margin-bottom:0px !important;
}


/*  ############## Scrollbar verstecken ############## */
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


/*  ############## Trash ############## */
#stickyFooter {
    display: none;
    position: sticky;
/*top:100px !important;*/
/*  top:500px !important;*/
    top: calc(100vh + 20px);
/*bottom: 200px;*/
    height: 70px !important;
    z-index: 200;
    width: 100% !important;
    background-color: #eee !important;
/* height: 50px !important;*/
}

.stickyAction {
    padding-right:10px !important;
    padding-left:10px !important;
    font-size:12px !important;
}

@media only screen and (min-width: 993px){
    #toast-container {
        position: fixed !important;
        /*bottom: 0px !important;*/
        right: 25px !important;
        width: 300px !important
    }
}

.noNotifies i.medium.material-icons {
    display: inline-block !important;
}

.noNotifies a {
    text-align: left !important;
    display: inline-block !important;
    width: 260px !important;
    position: relative !important;
    top: -17px !important;
    padding-left: 10px !important;
}

.sidenav-close-no-action.disabled, .sidenav-close-no-action.disabled:hover{
    color: #b3deed !important;
    cursor: default !important;
}
div#toast-container {
    pointer-events: none !important;
}

.card.grey.white {
    padding-bottom:10px !important;
    cursor:pointer !important;
    /*border-left: 5px solid #008fc1 !important;*/
}

.dropdown-content{
    width: 190px !important;
    left:90px !important;
}

.cardDate{
    display:inline-block !important;
    padding-left:12px !important;
}

.card .card-action {
    border-top:0px !important;
}
.card-content{
    padding-bottom:0px !important;
}

.card-action{
    /*padding-top: 5px !important;*/
}

.sidenav li.active {
    background-color:white !important;
}
.collapsible-body{
    font-size:12px !important;
}

.collapsible-body {
    line-height: 18px !important;
}

.new i#badgeNotify {
    position: absolute;
    left: 11px !important;
    top: 6px !important;
    color: #F44336 !important;
    /* background-color: #f5f1f2; */
    margin: 0 -0.8em;
    /* border-radius: 50%; */
    padding: 2px 6px;
    font-weight: 600;
    font-size: 12px !important;
}

.seen i#badgeNotify, .opened i#badgeNotify{
  display:none !important;
}

.card.grey.white.seen, .seen .cardTitle a.primaryAction, .seen .cardIcon{
    color: gray !important;
}

.collapsible-body {
    padding-bottom: 0px !important;
}
.expandIcon{
/*font-size: 22px !important;*/
cursor: pointer !important;
margin-bottom: 0px !important;
    /*widht:50px !important;*/

    padding-left: 10px !important;


    position: absolute !important;
    /* top: 3px !important; */
    /* display: none !important; */
    font-size: 19px !important;
    padding-top: 1px !important;
}


.active .collapsible-body {
    padding-top: 7px !important;
}

.collapsible-body a{
    margin-right:0px !important;
}

.openText{
    font-weight:600 !important;
    text-align: left !important;
}


