#notificationCenter{
    /*display: none;*/
}


p, .cardTitle, .card-content, .card-action{
    text-align: left !important;
}

#notificationContent{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.notSeen{
    background-color: #ffffff !important;
}

.seen{
    background-color: #ededed !important;
}

.animationTest{
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 0.8s ease-in-out;
    -moz-transition: max-height 0.8s ease-in-out;
    -o-transition: max-height 0.8s ease-in-out;
    transition: max-height 0.8s ease-in-out;
}
#notificationBadge {
    position: relative;
    right: 5px;
    top: -20px;
    color: #212121;
    background-color: #f5f1f2;
    margin: 0 -0.8em;
    /* border-radius: 50%;*/
    padding: 2px 6px;
    font-weight: 600;
    font-size: 12px !important;
}



/* ############## Allgemein ##############*/
#slide-out {
    width: 350px !important;
    max-width: 100%;
    overflow-x: hidden;
    top: -70px !important;
    padding-bottom: 0px !important;
    height: calc(100vh + 100px) !important;
}

.main {
    /* width: 400px; */
    margin: 30px;
}

a, p{
    font-size:12px !important;
}

i.material-icons{
    margin-bottom: 2px !important;
}

.bottomEntry a, #stickyTab a i, .cardTitle a, .close.material-icons{
    -webkit-transition: all .28s ease-out;
    -moz-transition: all .28s ease-out;
    -o-transition: all .28s ease-out;
    -ms-transition: all .28s ease-out;
    transition: all .28s ease-out;
}


/*  ############## Benachrichtigung ############## */
.user-view{
    background-color:#ffffff !important;
    padding-top: 10px !important;
    margin-bottom: 0px !important;
    padding-bottom:10px !important;
}

h5{
    font-size: 18px !important;
    color: #212121 !important;
}


/* ############## Card / Benachrichtigungseintrag ############## */
.card-title {
    font-size: 18px !important;
}

.card .card-action {
    padding: 10px !important;
    font-size: 14px !important;
}

.card {
    margin: .5rem 0 0.5rem 0 !important;
}

.card-content {
    padding: 10px !important;
}

.close.material-icons.right.black-text {
    padding: 10px !important;
}

.transitionItem {
    transition: all .3s linear;
}


.sidenav li > a > i{
    width:auto !important;
    font-size: 20px !important
}

/*  Hover über Action */
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover{
    color:#7fc7e0 !important;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    color:#008fc1 !important;
}

.card.grey.white{
    margin-left:10px !important;
    margin-right:10px !important;
}

.close.material-icons{
    cursor: pointer;
    margin-left: 0px !important;
    color: #008fc1 !important;
}

.close.material-icons:hover{
    color: #7fc7e0 !important;
}

.cardIcon{
    display:inline-block !important;
    vertical-align: top !important;
}

.cardIcon i{
    font-size:25px !important; padding-right:5px !important;
}

.cardTitle{
    display: inline-block !important;
    width:222px !important
}

.cardTitle a{
    font-weight: 600 !important;
    color: #008fc1;
}

.cardTitle a:hover{
    color: #7fc7e0;
}

.cardTitle p{
    font-size: 12px !important;
    color:gray !important;
}

.card-action p{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.card-action a{
    font-weight: 600 !important;
    text-transform: unset !important;
}




/* ############## Sticky Footer (Hover, Hintergrund, ...) ############## */
#stickyTabBottom {
    position: sticky;
    /*top:100px !important;*/
    /*  top:500px !important;*/
    top: calc(100vh + 22px);
    /*bottom: 200px;*/
    /* height: 50px !important; */
    z-index: 200;
    width: 100% !important;
    background-color: #ffffff !important;
    box-shadow: 0px -1px 3px #999999 !important;
    /* height: 50px !important;*/
}

.bottomEntry{
    font-size: 12px !important;
    background-color: white !important;
    text-align: center !important;
    font-weight: 600 !important;
}

.bottomEntry a{
    color: #008fc1 !important;
}
.bottomEntry a:hover {
    color: #7fc7e0 !important;
}

.bottomEntry i.material-icons{
    font-size: 20px !important;
}


/*  ############## Sticky Navigation (Tabs, ...) ############## */
#stickyTab{
    position: sticky;
    top: 30px !important;
    z-index: 9999;
    box-shadow: 0px 1px 3px #999999;
    margin-bottom: 0px !important;
}

.tabs .tab {
    text-transform: unset !important;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color:#008fc1 !important;
}

.tabs .indicator{
    /*background-color: #ffffff !important;*/
    background-color: #008fc1;
}

.tabs .tab a {
    color: #7fc7e0 !important;
}

.tabs li:hover i{
    color:#008fc1 !important;
}

.tabs li i{
    color:#7fc7e0 !important;
}

.tabs .tab .active i{
    color: #008fc1 !important;
}

/*  aktiver Tab-Hintergrund */
#stickyTab .col.s12 a.active {
    background-color: #ffffff !important;
}

#stickyTab .material-icons{
    vertical-align: top;
}


/*  ############## Sticky Navigation + Sticky Footer ############## */
#stickyTab .col.s12 .col,  #stickyTabBottom .col.s12 .col{
    padding-left:0px !important;
    padding-right:0px !important;
}

#stickyTab .col.s12, #stickyTabBottom .col.s12 {
    padding-left:0px !important;
    padding-right:0px !important;
}

#stickyTab .col.s12 a, #stickyTabBottom .col.s12 a{
    padding-left:0px !important;
    padding-right:0px !important;
}

#stickyTab .col.s12 i, #stickyTabBottom .col.s12 i{
    float: unset !important;
    margin-left:auto !important;
    margin-right:auto !important;
}

#stickyTab .col.s12 a, #stickyTabBottom .col.s12 a{
    background-color: #ffffff !important;
    /*background-color: #757575 !important;*/
}

#stickyTab .material-icons, #stickyTabBottom .material-icons{
    display: inline-flex;
}

#stickyTab .material-icons, #stickyTabBottom .material-icons{
    vertical-align: middle;
}


/*  ############## Abschnitt (Section) ############## */
.dividerSection{
    height:1px !important;
    width:100% !important;
    background-color: #e0e0e0 !important;
    margin-top:11px !important;
    margin-bottom:0px !important;
}

.divider{
    margin-bottom: 4px !important;
}

.subheader{
    padding-left: 10px !important;
    padding-right: 10px !important;
    height: 40px !important;
}

.col.s12 .row{
    margin-bottom:0px !important;
}


/*  ############## Scrollbar verstecken ############## */
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


/*  ############## Trash ############## */
#stickyFooter {
    display: none;
    position: sticky;
/*top:100px !important;*/
/*  top:500px !important;*/
    top: calc(100vh + 20px);
/*bottom: 200px;*/
    height: 70px !important;
    z-index: 200;
    width: 100% !important;
    background-color: #eee !important;
/* height: 50px !important;*/
}

.stickyAction {
    padding-right:10px !important;
    padding-left:10px !important;
    font-size:12px !important;
}


